html {
  width: 100%;
  height: 100%;
  font-size: 62, 5%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #121212;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.btn-main {
  cursor: pointer;
  border-radius: 40px;
  padding: 0.6em 1.2em;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1em;
}
.btn-main--blue {
  background-color: transparent;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
}
.btn-main--blue:active {
  background-color: #08EFE0;
  color: #121212;
  border: none;
}
.btn-main--blue:hover {
  background-color: #08EFE0;
  color: #121212;
  border: none;
}

a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.main-header {
  background: linear-gradient(279.38deg, #7408EF 40.03%, #08EFE0 115.03%);
  padding: 0.5em;
}
@media (min-width: 900px) {
  .main-header .logotipo-principal {
    width: 200px;
  }
  .main-header .mobile-subtitle {
    font-size: 25px;
    line-height: 70px;
    margin: 0;
  }
  .main-header .btns-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 20px;
  }
}

.btns-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logotipo-principal {
  width: 150px;
  margin-top: 30px;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin: 2em 5em 0em 5em;
  text-align: center;
}