.main-header {
    background: $main-gradient;
    padding: .5em;
    @include size-desktop-header; 
}
.btns-header {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-end;
}

.logotipo-principal {
    width: 150px;
   margin-top: 30px;
}

.logo-header {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.mobile-subtitle {
    font-family: $work-sans;
    font-weight: $regular;
    font-size: 14px; 
    line-height: 17px ;
    color:white;
    margin: 2em 5em 0em 5em ;
    text-align: center;
}

