// ----- $COLOR

// color de la esat
$color-orange: #EF7808;
// color principal
$color-purple: #7408EF;
// color secundario
$color-blue: #08EFE0;
//color gradiente principal
$main-gradient:linear-gradient(279.38deg, #7408EF 40.03%, #08EFE0 115.03%);
$color-gray: #E8E8E8;
$color-white: #FFFFFF;
$color-black: #121212; 

$color-main: $color-purple;
$color-cta: $color-blue;

