// ----- $FONTS-VARIABLES
// poppins medium 500, semi bold 600 & work sans regular 400, medium 500

// --- font-family
$poppins: 'Poppins', sans-serif;
$work-sans: 'Work Sans', sans-serif;

// --- font-size
$regular: 400;
$medium: 500;
$semi-bold: 600;

